-r requirements.txt
black==24.10.0
pre-commit==3.3.3
Faker==33.1.0
ipdb==0.13.13
pytest==8.3.3
pytest-cov==6.0.0
pytest-django==4.9.0
pytest-factoryboy==2.7.0
pytest-mock==3.14.0
setuptools==75.6.0
twine==5.1.1
wheel==0.45.1
